@mixin straight-dashed-line {
	height: 2px;
	width: calc(100% + 8px);
	margin-left: -4px;
	background-image: repeating-linear-gradient(to right, #b2c7cf 0, #b2c7cf 8px, transparent 8px, transparent 16px);
}