@use '../mixins/responsive' as *;
@use "sass:color";

// HEADINGS
@mixin h1 {
	font-size: 40px;
	line-height: 120%;

	@include respond-to(l) {
		font-size: 60px;
	}
}

@mixin h2 {
	font-size: 36px;
	line-height: 120%;

	@include respond-to(l) {
		font-size: 56px;
	}
}

@mixin h3 {
	font-size: 28px;
	line-height: 120%;

	@include respond-to(l) {
		font-size: 48px;
	}
}

@mixin h4 {
	font-size: 24px;
	line-height: 130%;

	@include respond-to(l) {
		font-size: 32px;
		line-height: 140%;
	}
}

@mixin h5 {
	font-size: 18px;
	line-height: 140%;

	@include respond-to(l) {
		font-size: 24px;
	}
}

// TEXT
@mixin t1 {
	font-size: 16px;
	line-height: 150%;

	@include respond-to(l) {
		font-size: 18px;
	}
}

@mixin t2 {
	font-size: 16px;
	line-height: 140%;

	@include respond-to(l) {
		font-size: 18px;
	}
}

@mixin t5 {
	font-size: 16px;
	line-height: 150%;
}

// static buttons text
@mixin t3 {
	font-size: 18px;
	line-height: 150%;
}

@mixin t4 {
	font-size: 16px;
	line-height: 150%;
}

@mixin t6 {
	font-size: 14px;
	line-height: 150%;
}

// static copyright text
@mixin t7 {
	font-size: 14px;
	line-height: 150%;
}

@mixin rgba-text($color, $opacity) {
	color: rgba(color.channel($color, "red", $space: rgb),
			color.channel($color, "green", $space: rgb),
			color.channel($color, "blue", $space: rgb),
			$opacity);
}