@use "../../../styles/variables" as *;

.wrap {
	position: relative;

	.shape {
		position: absolute;
		top: 0;
		width: 100%;
		transition:
			height $anim-time $anim-style,
			opacity $anim-time $anim-style;
	}
}
