@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "../../styles/functions" as *;

.bg {
	z-index: 9999;
	position: fixed;
	inset: 0;
	background-color: rgba-color($secondary-color, 0.5);

	.container {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 360px;

		border: 1px solid $card-stroke-color;
		box-shadow: $card-big-shadow;

		@include respond-to(l) {
			width: 678px;
		}

		.header {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 26px;

			background-color: $primary-color;
			color: $text-contrast-color;

			&.green {
				background-color: $success-color;
			}

			&.red {
				background-color: $accent-color;
			}

			svg {
				cursor: pointer;

				rect {
					fill: $text-contrast-color;
				}
			}

			@include respond-to(l) {
				padding: 36px;
			}
		}

		.content {
			display: flex;
			flex-direction: column;
			gap: 52px;
			padding: 26px;

			background-color: $card-fill-color;
			color: $text-body-active-primary-color;

			@include t1();
			@include respond-to(l) {
				gap: 64px;
				padding: 36px;
			}

			.button {
				align-self: flex-end;
			}
		}
	}
}
