@use "../../../../styles/variables" as *;
@use "../../../../styles/mixins" as *;
@use "../../../../styles/functions" as *;

.container {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;

	background: background-gradient-center($background-section-color), $background-grid-white;

	h1 {
		text-align: center;
	}
}
