@use '../../../styles/variables/variables' as *;

.btn {
	flex: 0 0 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 60px;
	width: 60px;
	padding: 0;

	svg {
		transform-origin: center;
		transition: transform $anim-time $anim-style;

		&.left {
			transform: rotate(180deg);
		}

		&.bottom {
			transform: rotate(90deg);
		}

		&.top {
			transform: rotate(-90deg);
		}
	}
}

.block {
	&:hover {
		cursor: unset;
	}
}
