.container {
	display: flex;
	align-items: center;
	justify-content: space-between;

	.input_container {
		display: flex;
		align-items: stretch;
		gap: 12px;

		input {
			flex-basis: 60px;
			text-align: center;
			padding-left: 0;
			padding-right: 0;
			/* Remove default arrows */
			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}
		}
	}
}