.btns {
	display: flex;
	align-items: center;
	justify-content: right;
	gap: 12px;
}

.modal_btns {
	display: flex;
	justify-content: right;
	gap: 12px;
}

.create_btn {
	justify-content: center;
	margin-top: 48px;
}
