@use '../../../../../styles/variables/variables' as *;

.imagePreview {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 36px;
	width: 100%;

	.caption {
		text-align: center;
	}
}