@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;
@use "../../../styles/functions" as *;

.container {
	display: flex;
	flex-direction: column;
	gap: 24px;
	padding: 0 24px;

	.titles {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 36px;
		color: $text-body-unactive-primary-color;
	}

	.content {
		display: flex;
		flex-direction: column;
		gap: 12px;
	}
}
