@use "../../../../styles/variables/variables" as *;
@use "../../../../styles/mixins/mixins" as *;
@use "../../../../styles/functions" as *;

.inputContainer {
	display: flex;
	flex-direction: column;
	gap: 8px;

	@include respond-to(l) {
		gap: 12px;
	}
}
