@use "../../../../styles/variables/variables" as *;
@use "../../../../styles/mixins/mixins" as *;
@use "../../../../styles/functions" as *;

.nav {
	display: flex;
	align-items: stretch;
	gap: 12px;

	& > * {
		flex: 0 1 33.33%;
		align-self: stretch;
	}
}

.modalButtons {
	display: flex;
	justify-content: flex-end;
	gap: 12px;
}
