@use "../../../styles/variables/variables" as *;
@use "../../../styles/mixins/mixins" as *;
@use "../../../styles/functions" as *;

.footer {
	background: background-gradient-down($background-section-color), $background-grid-white;

	.content {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 64px;
		padding: 80px 22px 8px;

		.contact {
			flex: 1 0 100%;
			margin-bottom: 22px;

			h3 {
				margin-bottom: 18px;

				@include respond-to(l) {
					margin-bottom: 24px;
				}
			}

			.call {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				gap: 18px;
				margin: 36px 0 52px;

				.numberContainer {
					& > span {
						margin-right: 12px;
						font-style: normal;
						@include t5();
					}
				}

				@include respond-to(l) {
					gap: 24px;
					margin: 48px 0 64px;
				}
			}

			.bottomAddress {
				display: flex;
				flex-direction: column;
				gap: 18px;

				& > a {
					width: fit-content;
				}

				@include respond-to(l) {
					gap: 24px;
				}
			}

			@include respond-to(l) {
				flex: unset;
				margin-bottom: 0;
			}
		}

		.social {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 36px;
			order: 3;
			padding-top: 12px;

			a {
				path {
					fill: $text-body-unactive-primary-color;
				}

				&:nth-child(1) {
					&:hover {
						path {
							fill: $btn-hover-primary-color;
						}
					}
				}

				&:nth-child(2) {
					&:hover {
						path {
							fill: $btn-hover-contrast-color;
						}
					}
				}

				&:nth-child(3) {
					&:hover {
						path {
							fill: $accent-color;
						}
					}
				}
			}

			@include respond-to(l) {
				order: unset;
			}
		}

		.nav {
			flex: 0 0 257px;
			display: flex;
			flex-direction: column;
			gap: 16px;
			padding: 8px 0;
		}

		@include respond-to(s) {
			gap: 22px;
		}
		@include respond-to(m) {
			gap: 44px;
		}
		@include respond-to(l) {
			padding: 112px 58px 12px;
			flex-wrap: nowrap;
			justify-content: unset;
		}
	}
}
