// SHADOWS
//buttons
$btn-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.22), 0 1px 1px 0 rgba(0, 0, 0, 0.32);
$btn-hover-shadow: 0 11px 4px 0 rgba(0, 0, 0, 0.02), 0 6px 4px 0 rgba(0, 0, 0, 0.10), 0 3px 3px 0 rgba(0, 0, 0, 0.15), 0 1px 1px 0 rgba(0, 0, 0, 0.21);
//cards
$card-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.05);
$card-big-shadow: 0 81px 23px 0 rgba(0, 0, 0, 0.00), 0 29px 18px 0 rgba(0, 0, 0, 0.03), 0 52px 21px 0 rgba(0, 0, 0, 0.01), 0 13px 13px 0 rgba(0, 0, 0, 0.04), 0 3px 7px 0 rgba(0, 0, 0, 0.05);