// FONT FAMILIES
$title-font: "Geologica", "Geologica Fallback";
$text-font: "IBM Plex Sans", "IBM Plex Sans Fallback";

// FONT WEIGHTS
// title weight
$title-weight: 800;
// text weights
$text-weight-reg: 400;
$text-weight-semibold: 600;
$text-weight-bold: 700;