@use "../../../../styles/variables/variables" as *;
@use "../../../../styles/mixins/mixins" as *;
@use "../../../../styles/functions" as *;

.hero_buttons {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 12px;

	button {
		flex-basis: 292px;
	}
}

.faq_section {
	margin-top: 160px;
}
