@use "../../../styles/variables/variables" as *;
@use "../../../styles/mixins/mixins" as *;

.redactor {

	.createBtns {

		.line {
			display: block;
			@include straight-dashed-line();
			width: 100%;
			height: 4px;
			margin: -4px 0 0;
		}
	}

	.redactorArea {
		display: flex;
		flex-direction: column;
		gap: 24px;
		height: 674px;
		padding: 48px;

		overflow-y: scroll;
		-ms-overflow-style: none; /* Internet Explorer 10+ */
		scrollbar-width: none; /* Firefox, Safari 18.2+, Chromium 121+ */

		background-color: $card-fill-color;
		border: 1px solid $card-stroke-color;
		box-shadow: $card-shadow;

		&::-webkit-scrollbar {
			display: none; /* Older Safari and Chromium */
		}
	}
}