@use '../../../../styles/variables/variables' as *;
@use '../../../../styles/mixins/mixins' as *;

.container {
	display: flex;
	flex-direction: column;
	gap: 20px;

	p, li {
		@include t5;
	}

	ol, ul {
		padding-left: 4px;
		list-style-position: inside;

		li::marker {
			color: $hyperlink-color;
		}
	}
}

.red {
	color: $accent-color
}

.link {
	color: $hyperlink-color;
}