@use "../../../../styles/variables" as *;
@use "../../../../styles/mixins" as *;
@use "../../../../styles/functions" as *;

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 80px;
	padding: $section-vert-padding 0;

	background: background-gradient-center($background-section-color), $background-grid-white;

	.form {
		display: flex;
		flex-direction: column;
		width: 341px;

		.inputContainer {
			margin-bottom: 24px;
		}

		p {
			text-align: center;
		}

		button {
			margin-top: 24px;
		}
	}
}
