@use "../../../../styles/variables/variables" as *;
@use "../../../../styles/mixins/mixins" as *;

.selectValueContainer {
	position: relative;

	.input {
		cursor: text;
		text-align: left;
	}

	.glass {
		cursor: text;
		position: absolute;
		top: 50%;
		right: calc(24px);
		transform: translateY(-50%);
	}
}
