@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "../../styles/functions" as *;

.container {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;

	h2,
	h3 {
		padding: 18px;
		border-left: 4px solid $primary-color;

		&.contrast {
			border-left: 4px solid $contrast-color;
		}

		@include respond-to(l) {
			padding: 24px;
		}
	}

	p {
		padding: 0 18px;
		color: $text-body-active-primary-color;

		@include respond-to(l) {
			padding: 0 24px;
			display: flex;
			align-items: center;
			justify-content: flex-end;
		}
	}

	& > * {
		flex: 0 0 100%;

		@include respond-to(l) {
			flex: 0 1 50%;
		}
	}

	&.contrast {
		color: $text-contrast-color;
	}

	&.news {
		gap: 8px;

		& > * {
			flex: 0 0 100%;
		}

		p {
			display: block;
		}

		@include respond-to(l) {
			flex-wrap: wrap;
			gap: 12px;
		}
	}

	&.h3 {
		gap: 8px;

		& > * {
			flex: 0 0 100%;
		}

		p {
			display: block;
		}

		@include respond-to(l) {
			flex-wrap: wrap;
			gap: 12px;
		}
	}

	&.h4 {
		gap: 18px;
		padding: 0 18px;

		& > * {
			flex: 0 0 100%;
		}

		p {
			display: block;
			padding: 0;
		}

		@include respond-to(l) {
			flex-wrap: wrap;
			gap: 24px;
			padding: 0 24px;
		}
	}

	@include respond-to(l) {
		flex-wrap: nowrap;
		gap: 12px;
	}
}
